@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

body{
  font-family: 'Noto Sans TC', sans-serif;
}

.list ul{
  margin: 0 auto;
  max-width: 500px;
}

.list li{
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-bottom: 2rem;
}

.list-link, .list-link:hover, .list-link:visited, .list-link:visited:hover {
  text-decoration: none;
  color: #2979FF;
}

.list-link svg{
  font-size: 5rem;
  display: block;
  margin: 0 auto;
}

.list-link:hover, .list-link:visited:hover{
  text-decoration: underline;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 2rem;
}

h2{
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

.loading{
  text-align: center;
  margin: 0 auto;
}

.loading .fa-spin{
  display: block;
}

.treemap{
  font-family: '微軟正黑體', sans-serif !important;
  height: 50vh;
}

.treemap text{
  font-family: 'Noto Sans TC' !important;
}

.datasets{
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  letter-spacing: .1px;
}

.datasets li{
  list-style: none;
}

.board{
  border-collapse: collapse;
  margin: 2rem auto;
  max-width: 1000px;
}

.board th{
  background: #eff0f1;
}

.board td a, .board td a:hover, .board td a:visited, .board td a:visited:hover{
  color: inherit;
}

.board td, .board {
  border: 1px solid #777;
}

.board tr .rank{
  background: #eff0f1;
  font-size: 1.2rem;
  text-align: center;
}

.board tr .name{
  font-size: 1.2rem;
}

.board tr .count{
  text-align: right;
  padding: 0 3px;
}

.board tr .gv{
  font-size: .9rem;
  color: #333;
}

footer{
  font-size: .9rem;
  color: 777;
  text-align: center;
}
